<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hash Chatbot</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
	
<!-- 	<link rel="stylesheet" href="{{ url_for('static', filename='/styles/style_test.css') }}"> -->
	<link rel="stylesheet" href="/static/styles/style_index.css">

	<script type="text/javascript" src="https://cdn.weglot.com/weglot.min.js"></script>
	<script>
		Weglot.initialize({
			api_key: 'wg_4da8cf01cbce55cefa8f736f06aa46695'
		});
	</script>
</head>

<body>
	<div class="hamburger-menu" onclick="toggleSidebar()">
		<span></span>
		<span></span>
		<span></span>
	</div>

	<div class="sidebar" id="sidebar">
		<a href="/amharic/" class="sidebar-item">
			አማ
		</a>

		<a href="#home" class="sidebar-item">
			<i class="bi bi-house-door-fill me-2"></i> Home
		</a>
		<a href="#about" class="sidebar-item">
			<i class="bi bi-info-circle-fill me-2"></i> About
		</a>
		<!-- <select href="#std" class="sidebar-item"> -->
		<select class="sidebar-item">
			<option value="STDs" data-icon="bi bi-file-medical me-2">STDs</option>
			<option value="STDs">Gonorea</option>
			<option value="STDs">Syphilis</option>
			<option value="STDs">HIV/AIDS</option>
		</select>

		<a href="#chatbot" class="sidebar-item">
			<i class="bi bi-chat-left-dots-fill me-2"></i> Chatbot
		</a>
		<a href="#surrounding" class="sidebar-item">
			<i class="bi bi-geo-alt-fill"></i> Your Surrounding
		</a>
		<a href="#suggestion" class="sidebar-item">
			<i class="bi bi-hospital me-2"></i> Health Center and Hospitals
		</a>
		<a href="#resources" class="sidebar-item">
			<i class="bi bi-book-fill me-2"></i> Resources
		</a>
		<a href="#feedback" class="sidebar-item">
			<i class="bi bi-chat-dots-fill me-2"></i> Feedback
		</a>
	</div>

<!-- HOME -->

	<div class="content" id="home">
		<!-- Your content goes here -->
		<h1>Wellcome to Hash chatbot</h1>
		<p>
				As part of the Innovation Hub on Artificial Intelligence for Maternal, Sexual, and Reproductive Health in
				Sub-Saharan Africa <a href="https://hash.theacademy.co.ug/" target="_blank">(HASH)</a>, we are committed to assisting Ethiopian university students with sexually
				transmitted disease awareness, a start-up diagnostic chatbot, and local parameters contributing the
				transmission of sexually transmitted diseases (STDs). The chatbot was created to be anonymous, and
				the awareness generation is based on key and current characteristics of campus life and its surrounds.
		
				This initiative supports and contributes to the achievement of <a href="https://sdgs.un.org/goals" target="_blank">SDG3</a>: Good health and well-being.
		</p>
	</div>

<!-- END OF HOME -->

<!-- ABOUT -->
	<div class="content" id="about">
		<!-- Your content goes here -->
		<h1>About Hash chatbot project</h1>
		<p>
			The Innovation Hub on Artificial Intelligence for Maternal, Sexual, and Reproductive Health in Sub-
			Saharan Africa <a href="https://hash.theacademy.co.ug/" target="_blank">(HASH)</a> is a project supported by the <a href="https://www.idrc.ca/en" target="_blank">IDRC</a> under the <a href="https://africa.ai4d.ai/" target="_blank">AI4D</a> project. As part of the sub-
			grantee, a team from Addis Abeba Science and Technology University <a href="https://www.aastu.edu.et/" target="_blank">(AASTU)</a>, directed by Surafel Luleseged Tilahun (PhD) as a PI and Mr. Getachew Derso as a co-PI created this site featuring an anonymous chatbot for STD diagnosis from the outset. The team is divided into sub-teams: the mathematical modeling team, directed by Mr. Solomon Molla; the chatbot design team, led by Ms. Mihiret Tibebe and Ms. Elsabeth Solomon; and the medical team, lead
			by Dr Frehiwot Gutema. This website contains basic project information, an anonymous chatbot, the
			nearest relevant health centers, surrounding situations and factors, and other resources for raising
			awareness. For more information, please contact the project&#39;s principal investigator at
			Surafel.luleseged@aastu.edu.et.
		</p>

		<p><strong>YOUR PRIVACY IS OUR PRIORITY!!!</strong></p>
	</div>
<!-- END OF ABOUT -->

<!-- STDs -->
	<div class="content" id="std">
		<!-- Your content goes here -->
		<h1>General Awareness on STDs Protection/Prevention</h1>
		<div>
			<p>
				Sexually transmitted diseases (STDs) are a significant public health concern, and it is essential to promote
				awareness and education about their prevention and protection.
			</p>
			
			<p>
				Get regular testing:-Even if you don't have symptoms, regular STD testing is important for early detection and
				treatment.
			</p>
			
			<p>
				Seek resources and support: Access reliable sources for information, testing services, and support organizations
				that can provide guidance and counseling.
			</p>
		</div>

		<div>
			<ul>
				<li>Reduce risk</li>
				<li>Pre-Exposure Prophylaxis (PrEP)</li>
				<li>Inform sexual partners</li>
				<li>Vaccinations</li>
			</ul>
		</div>
		

	</div>

<!-- END OF STDs -->

<!-- CHATBOT -->
	<div class="content" id="chatbot">
		<!-- Your content goes here -->
		<h1>Chatbot</h1>
		<p>
			The chatbot is designed to provide a preliminary diagnosis and is not intended to replace health experts.
			It is a rule-based chatbot that is built on a designed expert system. 
			<br>
			The chatbot is anonymous and will
			not collect any personal information from the user, so users can freely utilize it without worry of their
			responses being linked to them. To use the chatbot, click the &quot;Continue to chatbot&quot; button below:
		</p>
	
		<a id="next-btn" href="/chatbot"><strong>Continue to Chatbot</strong></a>
	</div>
<!-- END OF CHATBOT -->

<!-- SURROUNDING -->
<div class="content" id="surrounding">
	<!-- Your content goes here -->
	<h1>Your Surrounding</h1>
	<p>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium, odio! Quasi ducimus ex ut ea voluptates earum sint commodi veritatis ab vero, nemo, amet dolor rerum sequi necessitatibus! Et, ex?
	</p>

	<a id="next-btn" href="/chatbot"><strong>Link To Mathematical Model</strong></a>
</div>
<!-- END OF SURROUNDING -->

<!-- SUGGESTUION -->
<div class="content" id="suggestion">
	<!-- Your content goes here -->
	<h1>Suggested Health Center and Hospitals</h1>
	<div>
		<p>
			The campus clinic is ready to give basic help 24 hours a day, seven days a week. In addition to the campus clinic, the following health centers offer additional screenings, testing and support.
		</p>
	</div>
	
	<div class="locations-container">
		<div class="locations">
			<h5>AASTU Clinic</h5>
			<a href="https://www.google.com/maps/place/AASTU+medical+center/@8.8843641,38.8007695,15z/data=!4m10!1m2!2m1!1saastu+clinic+tulu+dimtu!3m6!1s0x164b8313910c304b:0xa9e34b2f58119854!8m2!3d8.8843636!4d38.811866!15sChdhYXN0dSBjbGluaWMgdHVsdSBkaW10dZIBDm1lZGljYWxfY2VudGVy4AEA!16s%2Fg%2F11k6vcgdnx?entry=ttu"
				target="_blank"><img src="../static/img/locations/aastu_clinic.JPG" alt="AASTU clinic"></a>
		</div>

		<div class="locations">
			<h5>Tirunesh Bejing Hospital</h5>
			<a href="https://www.google.com/maps/place/Tirunesh+Beijing+General+Hospital/@8.8775038,38.789792,15z/data=!4m2!3m1!1s0x0:0xffdc292ca560705c?sa=X&ved=1t:2428&ictx=111" target="_blank"><img src="../static/img/locations/TBGH.PNG" alt="TBGH"></a>
		</div>

		<div class="locations">
			<h5>Milla Clinic</h5>
			<a
				href="https://www.google.com/maps/place/Milla+clinic/@8.8557294,38.8115644,15z/data=!4m6!3m5!1s0x164b79534d6c76cf:0x2c8fe8fcc455d71d!8m2!3d8.8557294!4d38.8115644!16s%2Fg%2F11t6mt1fyy?entry=ttu" target="_blank"><img
					src="../static/img/locations/milla clinic.PNG" alt="milla clinic"></a>
		</div>

	</div>

</div>

<!-- END OF SUGGESTUION -->

<!-- RESOURCES -->
<div class="content" id="resources">
	<!-- Your content goes here -->
	<h1>Resources</h1>
	<p>
		To provide thorough support and information about sexually transmitted diseases (STDs), we have
		gathered a range of resources from reliable sources below to help you understand more about
		prevention, testing, kinds, and other facts.
	</p>

	<div class="resources">
		<div class="resources-img">
			<a href="https://www.prb.org/wp-content/uploads/2020/06/Ethiopia-National-Reproductive-Health-Strategy-2016-2020.pdf"
				target="_blank"><img src="../static/img/resources/PRB_logo.svg" alt="prb.org"></a>
		</div>

		<div class="resources-img">
			<a href="https://www.nichd.nih.gov/health/topics/stds/more_information/resources"
				target="_blank"><img src="../static/img/resources/NICHD_logo.svg" alt="nichd.nih.gov"></a>
		</div>

		<div class="resources-img">
			<a href="https://www.cdc.gov/std/default.htm" target="_blank"><img
					src="../static/img/resources/cdc.png" alt="cdc.gov"></a>
		</div>

		<div class="resources-img">
			<a href="https://www.who.int/news-room/fact-sheets/detail/sexually-transmitted-infections-(stis)" target="_blank"><img
					src="../static/img/resources/who_logo.svg" alt="who.int"></a>
		</div>
	</div>
</div>

<!-- END OF RESOURCES -->

<!-- FEEDBACK -->
	<div class="content" id="feedback">
		<!-- Your content goes here -->
		<h1>Feedback</h1>
		<p>
			We value your feedback!
			Your feedback helps us improve the quality of our STD chatbot service, as well as the other awareness-
			raising and informational resources on this website. If you have any recommendations for changes, have
			encountered any problems, or simply want to share your experience, please leave your anonymous
			comments below.
		</p>
	
		<textarea name="feedback" id="feedback-txt" cols="30" rows="4" placeholder="Please enter your feedback here..." oninput="toggleSendFeedbackButton()"></textarea>
		<br>
		<!-- disabled -->
		<button id="send-btn" onclick="sendFeedback()" ><strong>Send</strong></button>
		<p>
			We appreciate you taking the time to share your ideas with us.
		</p>
	</div>
<!-- END OF FEEDBACK -->


<!-- FOOTER -->
<footer>

	<div class="footer">
		<!-- <div class="parnters-txt">
			<p>
				Our Partners
			</p>
		</div> -->

		<div class="logo">
			<a href="https://www.aastu.edu.et/" target="_blank"><img src="{{ url_for('static', filename='/img/aastu.png') }}" alt="aastu"></a>
		</div>

		<div class="logo">
			<a href="https://africa.ai4d.ai/" target="_blank"><img src="{{ url_for('static', filename='/img/AIforDevt.png') }}" alt="ai for dev't Africa"></a>
		</div>

		<div class="logo">
			<a href="https://hash.theacademy.co.ug/" target="_blank"><img src="{{ url_for('static', filename='/img/Hash.png') }}" alt="hash"></a>
		</div>

		<div class="logo">
			<a href="https://idi.mak.ac.ug/" target="_blank"><img src="{{ url_for('static', filename='/img/IDIandMakerer.png') }}" alt="IDI & Makerer"></a>
		</div>

		<div class="logo">
			<a href="https://www.idrc.ca/en" target="_blank"><img src="{{ url_for('static', filename='/img/IDRCCanada.png') }}" alt="IDRC Canada"></a>
		</div>

		<div class="logo">
			<a href="https://air.ug/" target="_blank"><img src="{{ url_for('static', filename='/img/MakererAILab.png') }}" alt="Makerer AI Lab"></a>
		</div>

		<div class="logo">
			<a href="https://www.sida.se/en/" target="_blank"><img src="{{ url_for('static', filename='/img/Sida.png') }}" alt="Sida"></a>
		</div>

		<div class="logo">
			<a href="https://sunbird.ai/" target="_blank"><img src="{{ url_for('static', filename='/img/SunbirdAI.png') }}" alt="Sunbird AI"></a>
		</div>

		<div class="copyright">
			<p>&#169; <span id="year"></span> Hash Chatbot All rights reserved.</p>
		</div>
	</div>
</footer>
<!-- END OF FOOTER -->

	<!-- Bootstrap JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

	<script>
		document.getElementById("year").textContent = new Date().getFullYear();
	</script>

	<!-- <script src="{{ url_for('static', filename='/scripts/script.js') }}"></script> -->
	<script src="../static/scripts/script.js"></script>

</body>

</html>
