body {
	font-family: 'Arial', sans-serif;
	background-color: #fcfcfc;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 200px;
	padding-top: 50px;
	background-color: #f2f2f2;
}

.chat {
	padding: 20px;
	overflow-y: auto;
	max-height: calc(100% - 70px);
}

.input-container {
	padding: 10px;
	background-color: #f2f2f2;
}

.logo {
	bottom: 5px;
	width: 10px;
	height: 10px;
	all: unset;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 30px;
	margin-inline: 0;
	gap: 15px;
}

img {
	width: 5em;
	height: 4.8em;
	display: block;
	margin: 0.3em;
}

.footer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 20px;
}

.user-message {
	background-color: #e0f7fa;
	color: #000;
	text-align: right;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 8px;
	width: fit-content;
}

.bot-message {
	background-color: #c8e6c9;
	color: #000;
	text-align: left;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 8px;
	width: fit-content;
}

.selected-symptoms {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
}

.available-symptoms {
	display: flex;
	display: block;
	flex-wrap: wrap;
	margin-bottom: 10px;
}

.symptom-button {
	background-color: #4397c7;
	color: black;
	border: none;
	padding: 8px 15px;
	border-radius: 4px;
	cursor: pointer;
	margin: 5px;
	vertical-align: bottom;
}

.input-container button {
	background-color: #4397c7;
	color: black;
	border: none;
	padding: 8px 15px;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 5px;
	outline: none;
	vertical-align: bottom;
}

.background-logos {
	flex-direction: column;
	padding-top: 50px;
}

.bg-left {
	flex: 1;
	margin: 7em;
	margin-top: 1em;
	width: 10%;
	padding-top: -2em;
}

.bg-right {
	flex: 1;
	margin: 7em;
	margin-top: 1em;
	width: 10%;
	padding-top: -2em;
}

.logo img {
	width: 13em;
	height: 6em;
	margin-bottom: 2em;
	opacity: 0.3;
}

.main-div {
	display: flex;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 10em;
	padding-top: 1em;
	max-height: min-content;
	width: 90%;
	overflow: scroll;
}

.chatbot-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	border-radius: 8px;
	max-width: 20em;
	width: 80%;
	padding-left: 4px;
	padding-top: 5px;
}

.hamburger-menu {
	display: none;
	cursor: pointer;
	padding: 10px;
}

.hamburger-menu span {
	display: block;
	width: 25px;
	height: 3px;
	background-color: #333;
	margin-bottom: 5px;
	border-radius: 5px;
}

#infoModalBody {
	/* overflow-x: hidden; */
	/* Prevent horizontal scrolling in the modal body */
}

pre {
	white-space: pre-wrap;
}
@media (max-width: 768px) {

	/* chat container */

	.main-div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 80%;
		margin: 0.5em;
	}

	.chatbot-container {
		width: 98%;
		height: 98%;
		max-width: none;
		margin-top: auto;
		margin-bottom: 0;
		border-radius: 0;
		box-shadow: none;
		padding: 0;
	}

	.input-container {
		/* Styles for the input container */
		/* For example: */
		padding: 10px;
		background-color: #f2f2f2;
	}

	.chat {
		padding: 20px;
		overflow-y: auto;
		/* max-height: calc(98% - 0.5em); */
		scroll-behavior: smooth;
	}

	/* END OF chat container */

	.bg-left,
	.bg-right {
		display: none;
	}

	.sidebar {
		width: 70%;
		height: 100%;
		padding-top: 0;
		background-color: #f2f2f2;
		overflow-y: auto;
		position: fixed;
		top: 0;
		transition: all 0.3s;
		transform: translateX(-40em);
		transition: transform 0.3s ease;
	}

	.sidebar.active {
		width: 70%;
		height: 100%;
		padding-top: 0;
		background-color: #f2f2f2;
		overflow-y: auto;
		left: 0;
		transform: translateX(0);
	}

	/* 
	.content {
		margin-left: 0;
		padding: 2em;
	} */

	.hamburger-menu {
		display: block;
		z-index: 999999;
	}

	/* ////////// */
	.hamburger-menu {
		position: fixed;
		top: 10px;
		left: 10px;
		z-index: 9999;
		cursor: pointer;
		display: block;
		width: 3em;
		height: 3em;
		background-color: #333;
		border-radius: 4px;
	}

	.hamburger-menu span {
		display: block;
		width: 20px;
		height: 3px;
		background-color: #fff;
		margin: 5px auto;
		transition: all 0.3s;
	}
}